<!DOCTYPE html>
<html>
  <head>
    <title>會員中心</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>歡迎來到會員中心</h1>
    <form action="" method="post">
        <p>
            會員賬號:<input type="text" id="user name">請輸入電子郵箱</input>
        </p>
       
        <p>
            密碼:<input type="text" id="password">請輸入8-12位英文或數字</input>
        </p>
        <p>
            電話號碼:<input type="text" id="number"></input>
        </p>
            
        <button type="submit" value="送出"></button>

    </form>


    
  </body>
</html>
